{% extends 'task/base.html' %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}
<h2>Lista de Tarefas</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Título</th>
            <th>Concluída</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.completed|yesno:"Sim,Não" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'create_task' %}" class="btn btn-success">Criar Nova Tarefa</a>
{% endblock %}
